name: Coverage Testing

on: [workflow_dispatch, push, pull_request]

permissions: read-all

jobs:
  Ubuntu:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [22, 24]
    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}

    name: Ubuntu - Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'

      - name: Set up EditorConfig checker
        uses: editorconfig-checker/action-editorconfig-checker@v2.1.0

      - name: Run editorconfig-checker
        run: editorconfig-checker

      - name: Install Global Dependencies
        run: npm install -g c8 cypress@15

      - name: Install Application (CI)
        id: installCi
        continue-on-error: true
        run: npm ci

      - name: Install Application (Install)
        if: steps.installCi.outcome == 'failure'
        run: npm install

      - name: Copy Test Config
        run: cp ./data/testing.config.js ./data/config.js

      - name: Test Application Startup
        run: npm run test:startup

      - name: Verify Cypress
        run: cypress verify
        env:
          CYPRESS_VERIFY_TIMEOUT: 600000

      - name: Run Coverage Testing
        run: npm run coverage

      - name: Codecov
        if: ${{ (success() || failure()) && github.event_name != 'pull_request' && env.CODECOV_TOKEN != '' && matrix.node == 22 }}
        run: |
          curl -Os https://uploader.codecov.io/latest/linux/codecov
          chmod +x codecov
          ./codecov -t ${CODECOV_TOKEN}

  Windows:
    runs-on: windows-2025
    strategy:
      fail-fast: false
      matrix:
        node: [22, 24, 25]

    name: Windows - Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'

      - name: Install Global Dependencies
        run: npm install -g c8 cypress@15

      - name: Install Application (CI)
        id: installCi
        continue-on-error: true
        run: npm ci

      - name: Install Application (Install)
        if: steps.installCi.outcome == 'failure'
        run: npm install

      - name: Copy Test Config
        run: cp ./data/testing.config.js ./data/config.js

      - name: Run Test
        run: npm run test

  Mac:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        node: [22, 24]

    name: MacOS - Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'

      - name: Install Global Dependencies
        run: npm install -g c8 cypress@15

      - name: Install Application (CI)
        id: installCi
        continue-on-error: true
        run: npm ci

      - name: Install Application (Install)
        if: steps.installCi.outcome == 'failure'
        run: npm install

      - name: Copy Test Config
        run: cp ./data/testing.config.js ./data/config.js

      - name: Run Test
        run: npm run test
